{% extends "layout.html" %}

{% block title %}
Leaderboard
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>
            User
        </th>
        <th>
            Cash
        </th>
        <th>
            Assets
        </th>
        <th>
            Net Worth
        </th>

        <th>
            Add Friend
        </th>


        <th>
            Add Person(Admin)
        </th>

        <th>
            Delete Person (Admin)
        </th>

    </tr>
    {% for user in leaders %}
    <tr>

        <td><a href="{{ url_for('history_others') }}?user_id={{ user[3] }}">{{ user[0] }}</a></td>

        <td>{{ usd(user[1]) }}</td>
        <td>{{ usd(user[2]) }}</td>
        <td>{{ usd(user[1] + user[2]) }}</td>

        <td><a href="{{ url_for('like') }}?user_id={{ user[3] }}">{{ user[0] }}</a></td>

        <td><a href="{{ url_for('add_user_info') }}">ADD</a></td>

        <td><a href="{{ url_for('delete_user_info') }}?user_id={{ user[3] }}">DELETE</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
