{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>


        <form action="Login" method="POST">
                <p>
                   <label>username</label>
                   <input class="text-input" type="text"  name="username"/>
                </p>

                <div class="clear"></div>
                <p>
                   <label>password</label>
                   <input class="text-input" type="password" name="password"/>
                </p>

                <div class="clear"></div>
                <div class="clear"></div>
                <div class="clear"></div>
                <p>
                 <input class="button" type="submit" value="Log in" />
                </p>
        </form>
  </div>



        </fieldset>
    </form>
{% endblock %}
